html {
    font-family: Georgia, "Times New Roman", Times, serif
}

body {
    background-color: #0f0f0f;
    color: #f5f5f5;
    margin: 40px;
}

h1 {
    color: #b31c17;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40pt;
}

h2 {
    padding-bottom: 6px;
}

div {
    background-color: #1a1a1a;
    padding: 16px;
    margin-bottom: 20px;
    border-left: 4px solid #b31c17;
}

p {
    line-height: 1.5;
}

em {
    color: grey;
}

.speaker {
    font-weight: 600;
    text-transform: uppercase;
}

.venkman {
    color: #52d6fe;
}

.stantz {
    color: #f7bf3c;
}

.spengler {
    color: #8c7af6;
}

.zeddemore {
    color: #5dd995;
}

.dana {
    color: #f56b9d;
}

.mayor {
    color: #ee5250;
}
