header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

.shows > li > h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

h1, h2 {
    font-weight: lighter;
}

.cast img {
    width:100%;
}

.cast ul li {
    width:25%;
}

.shows > li {
    border-top: 1px solid black;
}

.selected a {
    font-weight: bold;
    color: black;
}

.cast ul li a div {
    font-size: 0.8rem;
}

.cast ul li a div:first-of-type {
    font-weight: bold;
}

.cast ul li a div:last-of-type {
    font-style: italic;
}

#game-of-thrones .seasons ul li:last-child::after {
    content:"*";
}

#game-of-thrones .seasons ul::after {
    display: block;
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}